<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Login</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/aplication.css" />
</head>
<body style="background-color: chocolate;">
        <h2> Please enter login and password:</h2>
        <form action="/login" method="post">
            <label>Login:</label>
            <input type="text" name="username"/><br/><br/>
            <label>Password:</label>
            <input type="password" name="password"/>
<br/><br/>
            <input type="submit" value="Submit" />
        </form>
</body>
</html>